*{
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
    margin: 0;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.container{
    position: relative;
    width: 400px;
    text-align: center;
}

.container h1{
    color: #fff;
}

.counter{
    font-size: 40px;
    color: #fff;
}

.loadingBarGround{
    height: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    width: 100%;
}

.loadingBarFront{
    height: 10px;
    background-color: red;
    border: none;
    border-radius: 5px;
    position: absolute;
    width: 20%;
}